# Video & frame files
input/
output/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Model weights
*.pth
*.pt
*.ckpt
pretrained_weights/